

header {
	background-color: white;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5% !important;
}

@media only screen and (max-device-width: 480px) {
	header {
		padding-top: 10%;
	}
}

header img {
	padding-top: 0px;
	padding-bottom: 0px;
	margin: auto !important;
	height: 90%;
}

@media only screen and (max-device-width: 480px) {
	header img {
		width: 300px !important; 
		height: 500px !important; 
		object-fit: cover;

	}
}



nav.bg-light {
	background-color: #D0E1D4 !important;
	padding-top: 0px;
	padding-bottom: 0px;
}

nav div ul {
	padding: 1em 0px;
	margin: auto;
}

nav div ul li {
	display: inline-block;
}


nav div ul li a {
	font-family: 'Lato', sans-serif;
	color: black;
	font-weight: 900;
	font-size: 15px !important;
}

nav div ul li a:hover {
	color: white !important;
	font-weight: bold !important;
	background-color: #D0E1D4;
}

.navbar-toggler {
	border: 0px !important;
}

.navbar-brand-active {
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: white !important;
}

@media only screen and (max-device-width: 480px) {
	body {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}
}


#domanda {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 200%;
	margin: auto;
	text-align: center;
}

#abstract {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 130%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}



div.leggi-racconti {
	margin:auto;
	background-color: #D0E1D4;
	padding-bottom: 30px;
}

div.leggi-racconti div.container div.row div.col-sm {
	padding-left: 0px;
	padding-right: 0px;
}

div.leggi-racconti div.container {
	padding-left: 0px;
	padding-right: 0px;
}

div.container#tuttiracconti div.row div.col-sm {
	padding-left: 0px;
	padding-right: 0px;
}

@media only screen and (max-device-width: 480px) {
	div.container#tuttiracconti {
		margin-left: 0px;
		margin-right: 0px;
		width:100%;
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media only screen and (max-device-width: 480px) {
	div.container#tuttiracconti div.row{
		margin-left: 0px;
		margin-right: 0px;

	}
}

div.container#tuttiracconti {
	padding-left: 0px;
	padding-right: 0px;
}

div.container {
	padding-left: 0px;
	padding-right: 0px;
}


@media only screen and (max-device-width: 480px) {
	div.leggi-racconti {
		padding: 0px;
		margin: 0px;
		width: 100%;
	}
}

@media only screen and (max-device-width: 480px) {
	div.leggi-racconti div.container {
		padding: 0px;
		margin: 0px;
	}
}

div.leggi-racconti h3.more-posts1 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 1.5em !important;
	color: black;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 2px solid white;
}

@media only screen and (max-device-width: 480px) {
	div.leggi-racconti h3.more-posts1 {
		font-size: 1em !important;

	}
}

div.leggi-racconti h3.more-posts2 {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 1.2em !important;
	padding-bottom: 10px;
	padding-top: 20px;
	color: black;
}

div.leggi-racconti h3.more-posts2 a {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1.2em !important;
	text-transform: uppercase;
	padding-bottom: 0px;
	padding-top: 20px;
	color: black;
}

div.leggi-racconti h3.more-posts2 a:hover {
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 1.2em !important;
	font-weight: bold;
	padding-bottom: 0px;
	padding-top: 20px;
	color: black;
	background-color: #D0E1D4;
	text-decoration: none;
}



.card {
	margin-top: 20px;
	width: 90%;
	margin-left: 15px;
}


.img-hover-zoom {
  overflow: hidden; 
}

.img-hover-zoom img {
  transition: transform .1s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.3);
 }



div.card-footer a:link, div a:visited {
  color: #FFBE79;
  background-color: white;
  padding: 1px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  border-radius: 8px;
}


.button {
	padding: 0px;
	background-color: white;
	border-radius: 8px;
	margin-top: 10px;
	text-align: center;
	border: 2px solid #FFBE79;
}

.button:hover {
	color: white;
	background-color: #FFBE79;
}

div a:hover {
	color: white;
	background-color: #FFBE79;
}



.card-footer {
	background-color: white !important;
	text-align: center;
}


h3 {
	font-family: 'Playfair Display', serif;
	font-weight: bold !important;
	font-size: 1.3em !important;
	text-align: center;
	padding-bottom: 10px;
}



div.card-body p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1vw;
	text-align: center;
	padding-bottom: 10px;
}

div.card-body {
	background-color: white;
	border-radius: 4px;
	margin-bottom: 20px white;
}




h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 600;
	font-size: 5vw !important;
	padding-top: 1em;
	padding-bottom: 0px;
	padding-left: 45px;
}

.card-racconti {
	margin: auto;
	width: 90%;
}

.justify-content-center {
	padding-top: 20px;
}


p.nome {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px !important;
	text-transform: uppercase;
	padding-top: 0.5em;
	padding-left: 50px;
	margin-bottom: 2px;

}


@media only screen and (max-device-width: 480px) {
	#singola, #singola div.card-body{
		border: 0px solid white;
		padding-top: 0px;
		margin-top: 0px;
		width: 100% !important;
	}
}

@media only screen and (max-device-width: 480px) {
	#singola p{
	margin-left: 2px !important;
	font-size: 1.1em !important;

}
}

@media only screen and (max-device-width: 480px) {
	#singola p.nome{
	margin-left: 0px;
	padding-left: 20px;

}
}

@media only screen and (max-device-width: 480px) {
	#singola h2{
	margin-left: 20px !important;
	font-size: 1.5em !important;
	padding-left: 0px;
}
}

@media only screen and (max-device-width: 480px) {
	#singola p.tempo-lettura{
	padding-left: 20px !important;
	font-size: 1em !important;
	margin-bottom: 0px;
}
}

#singola {
	margin: auto;
	margin-top: 10px;
	width: 90%;
}

#singola img {
	width: 100%;
}

p.racconto {
	font-family: 'Zilla Slab', serif !important;
	font-weight: 300 !important;
	font-size: 20px !important;
	text-align: left !important;
	padding-top: 1em;
	width: 92% !important;
	margin-left: 30px;
	margin-right: 10px !important;
}

div nav ul li a.page-link {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1em;
	color: black;
	border: 0px white;
	display: inline-block;
	padding-top: 0px;
}

@media only screen and (max-device-width: 480px) {
	div nav ul li a.page-link:hover {
		font-size: 1em !important;
	}
}

@media only screen and (max-device-width: 480px) {
	div nav ul li a.page-link {
		font-size: 1em !important;
	}
}

div nav ul li a.page-link:hover {
	font-family: 'Lato', sans-serif !important;
	font-weight: bold !important;
	font-size: 1em;
	color: black !important;
	border: 0px white;
	background-color: white;
}

.altri-racconti {
	margin-top: 3em;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #D0E1D4;
}

div.altri-racconti h3.more-posts {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 1.5em !important;
}



.tempo-lettura {
	font-family: 'Zilla Slab', serif;
	font-weight: 300;
	font-size: 20px !important;
	padding-left: 2.5em;
	padding-top: 0px;
	padding-bottom: 0px;
}

img.card-racconti {
	margin: auto;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.carousel-control-prev, .carousel-control-next {
	background-color: white !important;
}

@media only screen and (max-device-width: 480px) {
	div.carosello a.carousel-control-next,
a.carousel-control-prev {
		display: none;
	}
}

span {
	color: #FFBE79;
	font-weight: bold;
}

span.domanda{
	color: black;
	font-size: 30px;
	padding-top: 12px;
}

#definizione {
	text-align: center;
	border: 5px solid #D0E1D4;
	border-radius: 8px;
	padding: 0.5em 1em;
	font-family: 'Playfair Display', serif;
	font-size: 100% !important;
	color: black;
}

div p#definizione a {
	font-family: 'Playfair Display', serif;
	font-size: 150%;
	color: black;
	font-weight: 300;
}

div p#definizione a:hover {
	font-family: 'Playfair Display', serif;
	font-size: 150%;
	color: black;
	font-weight: bold; 
	background-color: white;
	text-decoration: none;
}


.carosello {
	margin-top: 1em;
	margin-bottom: 2em;
}

@media only screen and (max-device-width: 480px) {
	.carosello img {
		width: 300px; 
		height: 160px; 
		object-fit: cover;

	}
}


footer {
	margin-top: 0px;
	margin-bottom: 10px;
}


footer p i{
	font-size: 30px;
	padding-right: 10px;
	background-color: white;
	color: black;
}

footer p i:hover {
	background-color: white;
	color: #FFBE79;
}

.raccontatu {
	width: 100%;
}

body div.container p.condividi {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 30px;
	padding-top: 100px;
	padding-bottom: 20px;
	border-bottom: 2px solid #FFBE79;
	margin-right: 50px;
}

@media only screen and (max-device-width: 480px) {
	body div.container p.condividi {
		padding-top: 0px !important;
	}
}

body div.container {
	margin: auto;
}

body div.container p {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 1em;
}

body div.container p.tuoracconto {
	font-family: 'Playfair Display', serif;
	font-weight: 300;
	font-size: 20px;
	padding-top: 30px;
}

body div.container p a{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: black;
}


body div.container p a:hover{
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #FFBE79;
	background-color: white;
	text-decoration: none;
}

#lastone {
	padding-bottom: 20px;
}

@media only screen and (max-device-width: 480px) {
	div.container div.card div#singola {
		border:  white !important;
	}
}
 
.navbar-toggler-icon {
	color: black;
	font-size: 1.2em;
}

div.documentazione h3 {
	text-align: left;
	padding-left: 45px;
	padding-top: 20px;
	padding-bottom: 1em;
	margin-bottom: 0px;
	font-size: 1.7em !important;
}

div.documentazione p {
	font-family: 'Zilla Slab', serif !important;
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	padding-top:0px;
	width: 92%;
	margin-left: 40px;
	margin-right: 10px;
}

div.documentazione p#risultati {
	font-family: 'Zilla Slab', serif !important;
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	padding-top:30px;
	width: 92%;
	margin-left: 40px;
	margin-right: 10px;
}

div.documentazione p.titolino {
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	width: 92%;
	margin-left: 40px;
	margin-right: 10px;
	margin-bottom: 0px;
}

div.documentazione div.container {
	width: 50%;
}

div.documentazione div.container#colori {
	width: 50%;
	padding-bottom: 30px;
}

div.documentazione div.container#volantino {
	width: 25%;
}

div.documentazione div.row {
	width: 40%;
	margin: auto;
}

figcaption {
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
}

div.documentazione ul {
	list-style-type: none;
}

div.documentazione ul li {
	font-family: 'Zilla Slab', serif !important;
	font-weight: 300;
	font-size: 20px;
	text-align: left;
	padding-top:0px;
	width: 92%;
	margin-left: 20px;
	margin-right: 10px;
}

@media only screen and (max-device-width: 480px) {
	div.documentazione h2 {
		font-size: 2em !important;
		padding-bottom: 0px;
		padding-left: 20px;
	}
}

@media only screen and (max-device-width: 480px) {
	div.documentazione h3 {
		font-size: 2em !important;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 20px;
	}
}

@media only screen and (max-device-width: 480px) {
	div.documentazione p {
		margin-left: 20px;
	}
}

@media only screen and (max-device-width: 480px) {
	div.documentazione p.titolino {
		margin-left: 20px;
	}
}

@media only screen and (max-device-width: 480px) {
	div.documentazione div.container {
		width: 90%;
	}
}

@media only screen and (max-device-width: 480px) {
	div.documentazione ul li {
		margin-left: 0px;
	}
}

